#Tabela{
    padding: 4.1rem 0rem 4.6rem 0rem;
    margin:3rem;
    text-align: center;
    display:block;
  
  }
  #Tabela div{
    display:block;
  }
  
  #labelNome{
    margin: 3rem;
   
  }
 section form{
    border: solid 2px #0071a5;/*o retângulo */
    font-size: 1.9rem;/* tamanho da fonte */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;/* cor de fundo */
    color: #0071a5; /* cor da letra */ 
    width:25%;/* o diametro da caixinha */
    
  }
  
  .diamantes{
    width: 15%;
    float: right; 
  }
