
*{/* zerando nossa margin e padding */
    margin:0;
    padding: 0;
   font-family: 'Roboto', sans-serif;/* estilo do fonte */

}

nav {
    background-color: rgb(126, 126, 175);/* cor de fundo */
    display: flex;
    align-items: center;/* alinhamento dos itens */
    justify-content: space-between;/* espaço entre os itens */
    position: fixed;/* fixando a nav */
    width: 100%;/* a nave ocupa 100% da tela */
    z-index: 10;/* acima de tudo */
  }
  

  nav ul {/*acessando a tag "ul" */
    list-style: none;/* removendo o stylo lista um em baido do outro e pontilhado */
    display: flex;
  }
  
  nav ul li {/*acessando a tag "li" */
    padding: 1rem;
  }


  nav ul li a {/*acessando a tag "a" */
    text-decoration: none;/* removendo sublinhado do link */
    color: rgb(247, 247, 249);/* cor do texto*/
    font-weight: bold;
    font-size: 1.2rem;/* tamanho da fonte */
    transition: 0.5s;/* tempo de mudnaça da cor */
  }

  nav ul li a:hover {/*acessando a tag "a" */
    color: rgb(211, 34, 34);/* cor de transação */
  }



  footer{
    background-color: rgb(126, 126, 175);/* cor do background */
    width: 100%;/* pegango a largura da tela */
    padding: 2rem 0rem 2rem 0rem;/* tamanho do footer aplicamos o padding apenas em cima e em baixo */
    position: fixed;/* fixa o elemento */ 
    bottom: 0;/* colocando o rodapé em baixo */
    
    
    
  }
  footer div{
    justify-content:space-evenly;/* espaçamento entre os nomes */
    display:flex;/* um do lado do outro */
    color:rgb(247, 247, 249) ;/* cor das letras*/
  }
  #footer2{
    justify-content:space-evenly;/* espaçamento entre os nomes */
    display:flex;/* um do lado do outro */
    color:rgb(247, 247, 249) ;/* cor das letras*/
  }

