footer{
    margin-top: 2vw;
    background-color: rgb(126, 126, 175);/* cor do background */
    width: 100vw;/* pegango a largura da tela */
    padding: 2rem 0rem 2rem 0rem;/* tamanho do footer aplicamos o padding apenas em cima e em baixo */
    
    bottom: 0;/* colocando o rodapé em baixo */
    
  }

  footer div{
    justify-content:space-evenly;/* espaçamento entre os nomes */
    display:flex;/* um do lado do outro */
    color:rgb(247, 247, 249) ;/* cor das letras*/
  }

  #footer2{
    justify-content:space-evenly;/* espaçamento entre os nomes */
    display:flex;/* um do lado do outro */
    color:rgb(247, 247, 249) ;/* cor das letras*/
  }

